In [29]:
import pandas as pd
from numpy import loadtxt
import xgboost as xgb
from matplotlib import pyplot

In [2]:
# load data
fn = "LFS_clean.tsv"
df = pd.read_csv(fn,sep="\t")
df.head()

,Family_code,Country,Population,Region,Development,Class,Generations_analyzed,WT_nucleotide,Mutant_nucleotide,WT_codon,...,Generation,Sex,Germline_carrier,Mode_of_inheritance,Dead,Age,Age_at_diagnosis,Ref_ID,Short_topo_combined,Short_topo_combined_count
0,Bard94,USA,Northern America,Americas,More developed regions,LFL,2.0,A,G,ATG,...,3.0,F,Confirmed,M,False,NaN,6.0,1,HEMATOP. SYSTEM,1
1,Bard94,USA,Northern America,Americas,More developed regions,LFL,2.0,A,G,ATG,...,2.0,F,Confirmed,NaN,True,35.0,30.0,1,CERVIX UTERI,1
2,Bard94,USA,Northern America,Americas,More developed regions,LFL,2.0,A,G,ATG,...,3.0,F,NaN,NaN,True,NaN,1.0,1,ADRENAL GLAND,1
3,Bir16,UK,Northern Europe,Europe,More developed regions,LFS,2.0,A,G,TAT,...,1.0,F,Confirmed,NaN,True,27.0,27.0,2,BREAST,1
4,Bir16,UK,Northern Europe,Europe,More developed regions,LFS,2.0,A,G,TAT,...,2.0,F,Confirmed,M,True,NaN,1.0,2,ADRENAL GLAND,1

In [8]:
df.describe()

,Generations_analyzed,REVEL,BayesDel,COSMIClink,CLINVARlink,cBioportalCount,Generation,Age,Age_at_diagnosis,Ref_ID,Short_topo_combined_count
count,1942.000000,1542.000000,1542.000000,1.946000e+03,1702.000000,2192.000000,1785.000000,623.000000,2192.000000,2192.000000,2192.000000
mean,2.942327,0.843647,0.425752,7.379567e+04,131490.653937,81.620894,2.173669,33.995185,29.247719,174.964872,1.019161
std,1.141133,0.118780,0.172896,5.047241e+05,141030.220743,131.813933,0.950030,19.546259,20.102686,110.555628,0.137121
min,1.000000,0.272000,-0.201800,6.482000e+03,12347.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
25%,2.000000,0.754000,0.262400,1.066300e+04,12374.000000,3.000000,1.000000,18.000000,12.000000,86.000000,1.000000
50%,3.000000,0.896000,0.517400,1.108900e+04,127816.000000,12.000000,2.000000,33.000000,29.000000,153.000000,1.000000
75%,4.000000,0.927000,0.553600,4.388200e+04,182970.000000,140.000000,3.000000,47.000000,42.000000,265.000000,1.000000
max,6.000000,0.981000,0.607100,6.904034e+06,528263.000000,493.000000,5.000000,92.000000,91.000000,384.000000,2.000000

In [7]:
# split data into features and output
features = df.columns.tolist()
features.remove('Age_at_diagnosis')
features

['Family_code',
 'Country',
 'Population',
 'Region',
 'Development',
 'Class',
 'Generations_analyzed',
 'WT_nucleotide',
 'Mutant_nucleotide',
 'WT_codon',
 'Mutant_codon',
 'CpG_site',
 'Splice_site',
 'Context_coding_3',
 'WT_AA',
 'Mutant_AA',
 'Effect',
 'AGVGDClass',
 'SIFTClass',
 'Polyphen2',
 'REVEL',
 'BayesDel',
 'TransactivationClass',
 'DNEclass',
 'ProtDescription',
 'COSMIClink',
 'CLINVARlink',
 'cBioportalCount',
 'Hotspot',
 'Domain_function',
 'Residue_function',
 'Individual_code',
 'FamilyCase',
 'FamilyCase_group',
 'Generation',
 'Sex',
 'Germline_carrier',
 'Mode_of_inheritance',
 'Dead',
 'Age',
 'Ref_ID',
 'Short_topo_combined',
 'Short_topo_combined_count']

In [25]:
X = df.loc[:,features]
y =df.loc[:,['Age_at_diagnosis']]